.addon-photo-icon {
  background-image: url(../img/icon.png) !important;
}
.action-attribut-icon{
	  background-image: url(../img/pencil.png) !important;	
}
.action-graph-icon{
	  background-image: url(../img/square.png) !important;	
}
.action-basket-icon{
	  background-image: url(../img/export.png) !important;	
}