
 .grid-result-panel .x-panel-header,
  .grid-result-panel .x-panel-body {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

/** Set icons style or URL **/
.phob-tool-menu-icon{
	background-image: url(../img/icons/phob-tool.png) !important;
}	

.phob-tbar-icon{
	background-image: url(../img/icons/phob-tbar.png);
}

.phob-att-icon{
	background-image: url(../img/icons/phob-att.png);
}

.phob-graph-icon{
	background-image: url(../img/icons/phob-graph.png);
}

.phob-cart-icon{
	background-image: url(../img/icons/phob-cart.png);
}

.phob-csv-icon{
	background-image: url(../img/icons/phob-csv.png);
}

.phob-clean-icon{
	background-image: url(../img/icons/phob-clean.png);
}

.phob-clean-selection-icon{
	background-image: url(../img/icons/phob-download-selection.png);
}

.phob-download-selection-icon{
	background-image: url(../img/icons/phob-clean-selection.png);
}


.x-action-col-cell img.phob-zoom-icon{
	width:100%;
	height:16px;
	background-repeat:no-repeat;
	background-image: url(../img/icons/phob-zoom.png);
	background-position:center;
}

.x-action-col-cell img.phob-add-icon{
	width:100%;
	height:16px;
	background-repeat:no-repeat;
	background-image: url(../img/icons/phob-add.png);
	background-position:center;
}

.x-action-col-cell img.phob-call-icon{
	width:100%;
	height:16px;
	background-repeat:no-repeat;
	background-image: url(../img/icons/phob-call.png);
	background-position:center;
}

.phob-draw-icon{
	background-image: url(../img/icons/phob-draw.png);
}

.phob-erase-icon{
	background-image: url(../img/icons/phob-erase.png);
}

.phob-download-icon{
	background-image: url(../img/icons/phob-download.png);
}


/* Set style for cart */

#phob_pan_dataView .x-panel-mr{
	background-image:none;	
}
#phob_pan_dataView .x-panel-mc{
	background-color:white;	
}

#phob_dataView .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
#phob_dataView .thumb{
	background: #dddddd;
	padding: 3px;
}
#phob_dataView .thumb img{
	height: 60px;
	width: 80px;
}
#phob_dataView .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#phob_dataView .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#phob_dataView .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../img/row-over.gif) repeat-x left top;
	padding: 4px;
}

#phob_dataView .x-view-selected{
	background: #eff5fb url(../img/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#phob_dataView .x-view-selected .thumb{
	background:transparent;
}

#phob_dataView .loading-indicator {
	font-size:11px;
	background-image:url('../img/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}
